@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Impact;
}

body {
    background-color: black;
}

h1 {
    background: url('https://th.bing.com/th/id/R.a2e3a214f481e4ff6c05d19f87942fef?rik=t%2b1CDu8vSOY%2f%2fA&pid=ImgRaw&r=0') no-repeat center center;
    -webkit-background-clip: text;
    color: transparent !important;
    background-size: cover;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: black;
}

main>section {
    width: 97%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding-top: 50px;
    padding-bottom: 50px;

}

.gunClass {
    width: 97%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px white;
    padding: 20px;
}

.gunClass>p {
    color: white;
    font-size: 2em;
    padding: 10px;
}

.guns {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.guns>div {
    width: 270px;
    height: 460px;
    border: 1px solid white;
    text-align: center;
    border-radius: 10px;
    margin: 3px 4px;
}

.guns>div>img {
    width: 100%;
    height: 45%;
    border-radius: 10px;

}

.guns>div>p {
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.guns>div>span {
    color: white;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}